<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        PROXYM GROUP
                    </a>
                </li>
            </ul>
        </nav>

        <!-- your footer here -->
    </div>
</footer>
</div>
</div>
