{% extends 'base.html.twig' %}
{% block body %}
{% include 'tmp.html.twig' %}
<div class="content">
    <div class="container-fluid">



    </div>
</div>
{% include 'footer.html.twig' %}

{% endblock %}